@tailwind base;
@tailwind components;
@tailwind utilities;
.btn-spacing {
    margin-top: 30px !important;
    
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add any additional styles for the button itself if needed */
  }